/* ? Home Start */
.mainFilter {
  width: 1300px;
  max-width: 95%;
  margin: 20px auto;
}
.searchDiv {
  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
  width: 80%;
}
.filterBtnDiv {
  width: 20%;
}
.look {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  opacity: 0;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.look a {
  color: rgb(3, 3, 3);
  cursor: pointer;
}

.look:hover {
  opacity: 0.5;
}
.filterBtnDiv button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.5s;
}
.search {
  display: flex;
  align-items: center;
  gap: 2px;
}
.search svg {
  color: gray;
}
.search input {
  width: 100%;
  border: 1px solid white;
  padding: 5px;
}

.search input:focus {
  outline: 0px;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 5px;
}
.filter select {
  width: calc((100% - (5px * (4 - 1))) / 4);
  font-size: 15px;
}
.filter select,
input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.filterHead {
  display: flex;
  gap: 10px;
}
.black {
  background-color: black;
  color: white;
}
.price,
.year {
  /* width: calc((100% - (5px * (4 - 1))) / 4);
  display: flex;
  font-size: 15px; */
}
#maxMil,
#location {
  width: calc((100% - (5px * (4 - 1))) / 4);
  font-size: 15px;
}

.price input {
  width: 100%;
  font-size: 15px;
}
.year input {
  width: 100%;
  font-size: 15px;
}

.premiumCars,
.cars {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 50px;
}
.allCars {
  width: 900px;
  max-width: 95%;
  margin: 20px auto;
}
.allCars h1 {
  font-size: 30px;
  margin: 20px 0px;
}
.car {
  width: calc((100% - (15px * (4 - 1))) / 4);
  border: 1px solid rgb(148, 142, 142);
  border-radius: 10px;
  overflow: hidden;
}
.carImg {
  width: 100%;
}
.carImg img {
  width: 100%;
}
.carData {
  padding: 10px;
}
.carDataPart1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5px;
}
.carDataPart2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.card {
  width: calc((100% - (15px * (4 - 1))) / 4);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-image:hover .overlay {
  opacity: 1;
}

.card-content {
  padding: 15px;
  background-color: white;
}

.brand-model {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.price {
  font-size: 16px;
  color: #007bff;
  margin: 5px 0;
}
hr {
  margin: 10px 0;
  color: #007bff;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px 0px;
}

.info p {
  font-size: 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.premiumLogo {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.mainAdvertising {
  display: flex;
  gap: 5px;
}
.mainAdvert1,
.mainAdvert2 {
  width: calc((100% - 910px) / 2);
  height: 100vh;
  background-color: #007bff;
  /* border-radius: 10px; */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.mainAdvert1 {
  position: sticky;
  top: 0;
  z-index: 5;
}
.mainAdvert2 {
  position: sticky;
  top: 0;
  z-index: 5;
}

.info i {
  margin-left: 4px;
  margin-right: 1px;
  color: #007bff;
}
.location-date {
  display: flex;
  justify-content: space-between;
}
.location-date p {
  font-size: 14px;
}

.location-date i {
  margin-right: 5px;
  color: #007bff;
}

.card-content .info p i {
  font-size: 16px;
}

.mainAdvert1 p {
  animation-name: advertising;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.mainAdvert2 p {
  animation-name: advertising;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
.mainAdvert3 {
  width: 100%;
  height: 150px;
  background-color: #007bff;
  animation-name: advertising2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  color: white;
}

.mainAdvert3 p {
  animation-name: advertising2;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes advertising {
  0% {
    transform: translateY(-250px);
  }
  25% {
    transform: translateY(250px);
  }
  50% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(-250px);
  }
}
@keyframes advertising2 {
  0% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
/* ! Home End */
