{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>


    {% comment %}# CSS FILES {% endcomment %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "css/home/button.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block custom_css %}{% endblock custom_css %}

</head>
<body>
    
    {% comment %}! Navbar Start  {% endcomment %}
    <section class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbarLogo">
                    <p>1Car</p>
                </div>
                <div class="navbarMenu">
                    <a href="{% url "home" %}" class="home_link">Home</a>
                    <a href="" class="home_link">Hissə</a>
                  
                    <div id="add" class="button-container-1">
                        <span class="mas">+</span>
                        <button  id='work' type="button" name="Hover">Elan</button>
                    </div>
                    
                    <div class="elans elansDisplay">
                        <div class="elanBtn">
                           
                            <div  class="button-container-1 elan1">
                                <span class="mas">Masin +</span>
                                <button  id='work' type="button" name="Hover"> 
                                    <a href="{% url "page:add_car" %}">Masin +</a>
                                </button>
                            </div>

                            <div  class="button-container-1 elan2">
                                <span class="mas">Hisse +</span>
                                <button  id='work' type="button" name="Hover">Hisse +</button>
                            </div>

                           
                           
                        </div>

                    </div>
                    <div class="button-container-3">
                        <span class="mas">Giriş</span>
                      <button type="button" name="Hover">Giriş</button>
                      </div>

                      <div class="button-container-3 logout logoutDisplay">
                        <span class="mas">Çıxış</span>
                      <button type="button" name="Hover">Çıxış</button>
                      </div>

                    
                </div>
            </div>
        </div>

    </section>
    {% comment %}? Navbar End  {% endcomment %}

 
    

    {% block page_content %}{% endblock page_content %}




    {% comment %}! Footer Start  {% endcomment %}
    <section class="footer">
        <div class="container">

            <div class="footerMenu">

                <div class="contact">
                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <p>bircar@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="fa fa-phone"></i>
                        <p>055 555 66 77</p>
                    </div>


                </div>
                <div class="footerExtra">

                    <a href="">Qaydalar</a>
                   
                    <a href="">Reklam yerləşdirin</a>

                </div>
                <div class="sosials">
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-facebook-f"></i></a>

                </div>
            </div>

        </div>
        <div class="end">

            <div class="container">
                <div class="conditions">
                    <p> Reklam bannerlərində və elanlarda yer alan məzmunun tərkibi, doğruluğu və etibarlılığı ilə bağlı
                        sayt rəhbərliyi hər hansı məsuliyyət daşımır.</p>

                    <p>2025</p>
                </div>
            </div>
        </div>
    </section>
    {% comment %}? Footer End  {% endcomment %}


    {% comment %}# JS FILES {% endcomment %}
    <script src=" {% static "js/base.js" %}"></script>
    {% block custom_js %}{% endblock custom_js %}

</body>
</html>