{% extends "base.html" %}
{% load static %}
{% block page_title %}Detay{% endblock page_title %}


{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/car_detail/style.css' %}">
<link rel="stylesheet" href="{% static 'css/car_detail/responsive.css' %}">

{% endblock custom_css %}

{% block page_content %}

<div class="container">
    <div class="car_detail">

        <div class="left">
            <div class="slider_wrapper">
                <div class="slider-container">
                    <!-- her sekil bir bura bir de kicik sekiller hissesine gelmelidi -->
                    <div class="slider">
                        <div class="slide active"><img src="{{ car.main_img.url}}" alt="Image 1"></div>
                        {% for image in last_five_items %}
                        <div class="slide"><img src="{{ image.image.url}}" alt="Image 2"></div>
                        {% endfor %}
                    </div>


                    <button class="arrow leftSlider">&#10094;</button>
                    <button class="arrow rightSlider">&#10095;</button>

                    <!-- Kiçik şəkillər -->
                    <div class="thumbnails">
                        <div class="tubnail1">
                            {% for first_three_item in first_three_images %}
                                <img src="{{ first_three_item.image.url}}" alt="" data-index="3" class="thumbnail">  
                            {% endfor %}
                            {% comment %} <img src="image1.jpg" alt="" data-index="0" class="thumbnail active">
                            <img src="image2.jpg" alt="" data-index="1" class="thumbnail">
                            <img src="image3.jpg" alt="" data-index="2" class="thumbnail"> {% endcomment %}
                        </div>
                        <div class="tubnail2">
                            {% for last_three_item in remaining_images %}
                                <img src="{{ last_three_item.image.url}}" alt="" data-index="3" class="thumbnail">  
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>



            <div class="main_data">
                <div class="il">
                    <i class="fa-solid fa-calendar"></i>
                    <span>2019</span>
                </div>
                <div class="motor_hecmi">
                    <i class="fa-solid fa-gas-pump"></i>
                    <span>2.0L</span>
                </div>
                <div class="yuruyus">
                    <i class="fa-solid fa-gauge"></i>
                    <span>43000 KM</span>
                </div>
                <div class="lokasiya">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Naxçıvan ş.</span>
                </div>
            </div>
            <p id="baxis">Elana Baxış sayı: <span id="baxis_value">5432</span></p>
            <hr>
            <div class="additional-data">
                <div class="top">
                    <div class="col">

                        <div class="box">
                            <ul>
                                <li><span id="marka">Marka</span></li>
                                <li><span id="model">Model</span></li>
                                <li><span id="ban">Ban növü</span></li>
                                <li><span id="reng">Rəng</span></li>
                                <li><span id="yanacaq">Yanacaq növü</span></li>
                                <li><span id="vin">VIN</span></li>
                            </ul>
                            <ul>
                                <li>
                                    <p id="marka-value">Porsche</p>
                                </li>
                                <li>
                                    <p id="model-value">Taican</p>
                                </li>
                                <li>
                                    <p id="ban-value">Sedan</p>
                                </li>
                                <li>
                                    <p id="reng-value">Qara</p>
                                </li>
                                <li>
                                    <p id="yanacaq-value">Benzin</p>
                                </li>
                                <li>
                                    <p id="vin-value">1CAR43H5U67GT65443</p>
                                    <i class="fa-regular fa-copy" id="copy-icon" style="cursor: pointer;"></i>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col2">


                        <div class="box">
                            <ul>
                                <li><span id="suretler">Sürətlər qutusu</span></li>
                                <li><span id="yurus">Yürüyüş</span></li>
                                <li><span id="il">İl</span></li>
                                <li><span id="muherrikin_hecmi">Mühərrikin həcmi</span></li>
                                <li><span id="muherrikin_gucu">Mühərrikin gücü</span></li>

                            </ul>
                            <ul>
                                <li>
                                    <p id="suretler-value">Mexanik</p>
                                </li>
                                <li>
                                    <p id="yurus-value">135 000 km</p>
                                </li>
                                <li>
                                    <p id="il-value">2024</p>
                                </li>
                                <li>
                                    <p id="hecm-value">5.5 L</p>
                                </li>
                                <li>
                                    <p id="guc-value">444 a.g</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="bottom">
                    <div class="elave_melumat">
                        <span id="melumat">Əlavə məlumat</span>
                        <hr>
                        <p id="melumat_value">Mercedes-Benz GLC350e Coupe
                            Mercedes-Benz in Azərbaycanda rəsmi dileri
                            “Abşeron Avtomobil Mərkəzi”
                            4 il zəmanət yürüşdən asılı olmayaraq
                            От официального дилера Mercedes-Benz
                            “Absheron Automobile Centre”
                            Гарантия 4 года без ограничения пробега
                            From official dealer of Mercedes-Benz
                            “Absheron Automobile Centre”
                            4 years of warranty without mileage limitation
                            Kredit / Leasing</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="box">
                <p id="qiymet">25 555 AZN</p>
                <hr>
                <div class="ownerinfo">
                    <div class="owner-left">
                        <h1 id="owner"> Random</h1>
                        <p id="city">Naxçıvan</p>
                    </div>
                    <div class="owner-right">
                        <img src="img/pp.jpg" alt="">
                    </div>
                </div>
                <hr>
                <div class="cntctbtn">
                    <button> Əlaqə nömrəsi: <br> 050-505-05-05 </button>
                </div>
            </div>
            <div class="forAdvertising">
                <p>Burada reklamınız ola bilər</p>
            </div>
        </div>


    </div>

</div>
   
{% endblock page_content %}


{% block custom_js %}
<script src="{% static 'js/home/home.js' %}"></script>
{% endblock custom_js %}