{% extends "base.html" %}
{% load static %}
{% block page_title %}Home{% endblock page_title %}


{% block custom_css %}
<link rel="stylesheet" href="{% static "css/home/home.css" %}">
<link rel="stylesheet" href="{% static "css/home/responsive.css" %}">

{% endblock custom_css %}

{% block page_content %}

    <section class="mainFilter">
    <div class="filterHead">
    <div class="searchDiv">
        <form class="search" action="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-search absolute left-3 top-2.5 h-5 w-5 text-gray-400">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </svg>
            <input type="text" placeholder="Axtar">
        </form>
    </div>
    <div class="filterBtnDiv">
        <button class="filterBtn">Filter</button>
    </div>
    </div>


    <div class="filterDiv" style="display: none;">
    <form class="filter" action="">
        <select class="brand" id="brand">
            <option value="">Marka</option>
            <option>Toyota</option>
            <option>Honda</option>
            <option>Ford</option>
        </select>
        <select class="vehicleType" id="vehicleType">
            <option value="">Model</option>
            <option>Sedan</option>
            <option>SUV</option>
            <option>Truck</option>
        </select>
        <select id="body-type" name="vehicle_type" >
            <option value="">Ban növü</option>
            <option value="Avtobus">Avtobus</option>
            <option value="Dartqı">Dartqı</option>
            <option value="Fastbek">Fastbek</option>
            <option value="Fayton">Fayton</option>
            <option value="Furqon">Furqon</option>
            <option value="Hetçbek, 3 qapı">Hetçbek, 3 qapı</option>
            <option value="Hetçbek, 4 qapı">Hetçbek, 4 qapı</option>
            <option value="Hetçbek, 5 qapı">Hetçbek, 5 qapı</option>
            <option value="Kabriolet">Kabriolet</option>
            <option value="Karvan">Karvan</option>
            <option value="Kompakt-Van">Kompakt-Van</option>
            <option value="Kupe">Kupe</option>
            <option value="Kvadrosikl">Kvadrosikl</option>
            <option value="Liftbek">Liftbek</option>
            <option value="Limuzin">Limuzin</option>
            <option value="Mikroavtobus">Mikroavtobus</option>
            <option value="Mikrovan">Mikrovan</option>
            <option value="Minivan">Minivan</option>
            <option value="Moped">Moped</option>
            <option value="Motosiklet">Motosiklet</option>
            <option value="Offroader / SUV, 3 qapı">Offroader / SUV, 3 qapı</option>
            <option value="Offroader / SUV, 5 qapı">Offroader / SUV, 5 qapı</option>
            <option value="Offroader / SUV, açıq">Offroader / SUV, açıq</option>
            <option value="Pikap, bir yarım kabin">Pikap, bir yarım kabin</option>
            <option value="Pikap, ikiqat kabin">Pikap, ikiqat kabin</option>
            <option value="Pikap, tək kabin">Pikap, tək kabin</option>
            <option value="Qolfkar">Qolfkar</option>
            <option value="Rodster">Rodster</option>
            <option value="Sedan">Sedan</option>
            <option value="Skuter">Skuter</option>
            <option value="Spidster">Spidster</option>
            <option value="SUV Kupe">SUV Kupe</option>
            <option value="Tarqa">Tarqa</option>
            <option value="Universal, 3 qapı">Universal, 3 qapı</option>
            <option value="Universal, 5 qapı">Universal, 5 qapı</option>
            <option value="Van">Van</option>
            <option value="Yük maşını">Yük maşını</option>
            <!-- Add all body types here -->
        </select>
        <select id="color" name="color" >
            <option value="">Rəng</option>
            <option value="Qara">Qara</option>
            <option value="Yaş Asfalt">Yaş Asfalt</option>
            <option value="Boz">Boz</option>
            <option value="Gümüşü">Gümüşü</option>
            <option value="Ağ">Ağ</option>
            <option value="Bej">Bej</option>
            <option value="Tünd qırmızı">Tünd qırmızı</option>
            <option value="Qırmızı">Qırmızı</option>
            <option value="Çəhrayı">Çəhrayı</option>
            <option value="Narıncı">Narıncı</option>
            <option value="Qızılı">Qızılı</option>
            <option value="Sarı">Sarı</option>
            <option value="Yaşıl">Yaşıl</option>
            <option value="Açıq yaşıl">Açıq yaşıl</option>
            <option value="Mavi">Mavi</option>
            <option value="Göy">Göy</option>
            <option value="Bənövşəyi">Bənövşəyi</option>
            <option value="Qəhvəyi">Qəhvəyi</option>
            <!-- Add other colors similarly -->
        </select>
        <select id="city" name="city" required>
            <option value="">Şəhər</option>
            <option value="Naxchivan">Naxçıvan</option>
            <option value="Şahbuz">Şahbuz</option>
            <option value="Şarur">Şərur</option>
            <option value="Ordubad">Ordubad</option>
            <option value="Babek">Babək</option>
            <option value="Kəngərli">Kəngərli</option>
            <option value="Culfa">Culfa</option>
            <option value="Sədərək">Sədərək</option>
        </select>
       
        <div class="price" id="price">
            <input id="minPrice" type="number" placeholder="Min Qiymət" value="">
            <input id="maxPrice" type="number" placeholder="Max Qiymət" value="">
        </div>
        <div class="year" id="year">
            <input id="minYear" type="number" placeholder="Min İl" value="">
            <input id="maxYear" type="number" placeholder="Max İl" value="">
        </div>
        <input id="maxMil" type="number" placeholder="Max Yürüş (km)" value="">
        
      

 
      
    </form>
    </div>
    </section>

    <div class="mainAdvertising">

    <div class="mainAdvert1">
    <p>Burada reklamınız ola bilər</p>
    </div>
    <section class="allCars">

    <!-- <h1>Premium Masınlar</h1>
    <div class="premiumCars">
        {% for car in cars %}
        <a href="{% url "page:car_detail" car.id %}" class="card">
            <div  style="position: relative;">

                <img src="./pro.png " class="premiumLogo" alt="">
                <div class="card-image">
                    <img src="{{ car.main_img.url }}" alt="Car Image">
                    <div class="overlay"></div>
                </div>
                <div class="card-content">
                    <h3 class="price">{{ car.price }} {{ car.currency }}</h3>
                    <p class="brand-model">{{ car.brand }} {{ car.model }}</p>
                    <hr>
                    <div class="info">
                        <p><i class="fa-solid fa-calendar-days"></i> {{ car.year }}</p>
                        <p><i class="fa-solid fa-cogs"></i> {{ car.engine_size }}L</p>
                        <p><i class="fa-solid fa-tachometer-alt"></i> {{ car.mileage }} {{ car.unit }}</p>

                    </div>
                    <hr>
                    <div class="location-date">
                        <p><i class="fa-solid fa-location-dot"></i> {{ car.city}}</p>
                        <p><i class="fa-solid fa-clock"></i>{{ car.created_at }}</p>
                    </div>
                </div>
            </div>
        </a>

        {% endfor %}
    </div>
    <div class="mainAdvert3">
        <p>Burada reklamınız ola bilər</p>
    </div> -->
    <h1>Butun Masınlar</h1>
    <div class="cars">


        {% for car in cars %}
        <a href="{% url "page:car_detail" car.id %}" class="card">
            <div  style="position: relative;">

                <img src="./pro.png " class="premiumLogo" alt="">
                <div class="card-image">
                    <img src="{{ car.main_img.url }}" alt="Car Image">
                    <div class="overlay"></div>
                </div>
                <div class="card-content">
                    <h3 class="price">{{ car.price }} {{ car.currency }}</h3>
                    <p class="brand-model">{{ car.brand }} {{ car.model }}</p>
                    <hr>
                    <div class="info">
                        <p><i class="fa-solid fa-calendar-days"></i> {{ car.year }}</p>
                        <p><i class="fa-solid fa-cogs"></i> {{ car.engine_size }}L</p>
                        <p><i class="fa-solid fa-tachometer-alt"></i> {{ car.mileage }} {{ car.unit }}</p>

                    </div>
                    <hr>
                    <div class="location-date">
                        <p><i class="fa-solid fa-location-dot"></i> {{ car.city}}</p>
                        <p><i class="fa-solid fa-clock"></i>{{ car.created_at }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
    </section>
    <div class="mainAdvert2">
    <p>
        Burada reklamınız ola bilər
    </p>

    </div>
    </div>
    
{% endblock page_content %}


{% block custom_js %}
<script src="{% static "js/home/home.js" %}"></script>
{% endblock custom_js %}