{% extends "base.html" %}
{% load static %}
{% block page_title %}Ehtiyat Hissələr{% endblock page_title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
<link rel="stylesheet" href="{% static 'css/home/responsive.css' %}">

{% endblock custom_css %}

{% block page_content %}

<body>

    <section class="mainFilter">
       

        <div class="filterDiv" style="">
            <form class="filter" action="">
                <input type="text" class="hisse" id="hisse" placeholder="Hisse axtar">
                <select class="brand" id="brand">
                    <option value="">Brand</option>
                    <option>Toyota</option>
                    <option>Honda</option>
                    <option>Ford</option>
                </select>
                <select class="model" id="model">
                    <option value="">Model </option>
                    <option>F10</option>
                    <option>F30</option>
                    <option>F</option>
                </select>
                <select class="condition" id="condition">
                    <option value="">Condition</option>
                    <option>New</option>
                    <option>Used</option>
                </select>
                <div class="price" id="price">
                    <input id="minPrice" type="number" placeholder="Min Price" value="">
                    <input id="maxPrice" type="number" placeholder="Max Price" value="">
                </div>

                <button class="hisseBtn"> Axtar</button>



            </form>
        </div>
    </section>
    <div class="mainAdvertising">

        <div class="mainAdvert1">
          <p>Burada reklamınız ola bilər</p> 
        </div>
        <section class="allCars">

           
            
            <h1>Bütün Hissələr</h1>
            <div class="cars">
                {% for part in parts %}
                
                <div class="card" >
                    <a href="{% url 'part_detail' part.id %}" class="card">
                    <div class="card-image">
                        <img src="{{ part.main_img.url }}" alt="Car Part">
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content">
                        <div class="carPart">
                            <p>{{part.part_name}}</p>
                            <h3 class="price">{{part.price}} {{part.currency}} </h3>
                        </div>
                        
                        <p class="brand-model">{{part.brand}} {{part.model}}</p>
                        <hr>
                        <div class="info">
                           <p>{{part.cond}}</p>
                                      
                        </div>
                        <hr>
                        <div class="location-date">
                            <p><i class="fa-solid fa-location-dot"></i> {{part.city}}</p>
                            <p><i class="fa-solid fa-clock"></i>{{part.created_at}}</p>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}

                
                 
              
              
               
               
            </div>
        </section>
        <div class="mainAdvert2">
            <p>
                Burada reklamınız ola bilər
            </p>
           
        </div>
    </div>
   
   
</body>

{% endblock page_content %}


{% block custom_js %}
<script src="{% static "js/home/home.js" %}"></script>
{% endblock custom_js %}